asn1crypto
astroid
beautifulsoup4
certifi
cffi
chardet
cloudscraper
cryptography
idna
isort
lazy-object-proxy
lxml
mccabe
pymongo
pycparser
pylint
pyparsing
python-telegram-bot
PyYAML
requests
requests-toolbelt
six
soupsieve
urllib3
wrapt
